.heroWrapper{
    color: #000;
    background-color: #fff;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem ;
}
.heroWrapper .welcomeTitle{
    color: #2C14DD;
    font-weight: 600;
}
.heroWrapper .subtitle{
    font-size: medium;
    
}
.heroWrapper .slider{
    height: 2rem;
}
.heroWrapper a{
    text-decoration: none;
    width: 80%;
}
.heroWrapper a .heroButton{
    background-color: #2C14DD;
    color: #fff;
    width: 40%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0.5rem 0;
}