.approvedWrapper{
    background-color: whitesmoke;
    padding: 0 18rem;
}
.approvedWrapper h2{
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 32px;
}
.approvedWrapper p{
    line-height: 2rem;
}
.approvedWrapper .logos{
   display: flex;
   justify-content: center;
   padding: 4rem 0;
   gap: 3.5rem; 
}
.approvedWrapper .logos div img{
    height: 100px;
    width: 100%;
}