.homeWrapper{
    background-color: #4C36ED;
}
.homeWrapper .homeContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.homeWrapper .homeContent .heroImg{
    width: 30%;
}