.topWrapper{
    background-color: #442CF5;
    display: flex;
    align-items: center;
    /* justify-content:center; */
     padding: 3rem 2rem; 
     gap: 45%; 
}
.topWrapper div{
    color: #fff;
    font-size: 20px;
    

}